<div class="content">
    <div class="title">
        2019 Accelerating Industrial Plastic Degradation With PETase
    </div>
    <div class="margin-20"></div>
    <div class="para inclinepapa">
        iGEM Toronto used machine learning and rational design to optimize the catalytic activity and thermostability of the Polyethylene terephthlate hydrolyzing enzyme PETase. Further, we used a p-nitrophenol butyrate in vitro assay to confirm that our PETase
        variants improved upon the wildtype PETase variant. With further optimization, we believe PETase may offer an eco-friendly and cost-effective solution to industrial plastic recycling efforts.
    </div>
    <img src="../../../assets/projects/img/gold.svg" alt="gold" class="medal">

    <div class="margin-10"></div>
    <div class="para">
        <mark class="purple">  Supervisors:</mark>

        <br> Dr. Radhakrishnan Mahadevan
        <div class="margin-10"></div>
        <br>
        <mark class="purple">Advisors:</mark>
        <br> Patrick Diep, Dr. Grant Allen, Dr. Elizabeth Edwards, Dr. Sean Caffrey, Endang Susilawati
        <div class="margin-10"></div>
        <br>
        <mark class="purple"> Undergraduates</mark> (28 total):
        <br>
        <mark>Presidents: </mark> Amy Yeung
        <br>
        <mark> Wet lab:</mark> Victoria Sajtovich (Team Lead), Daniel Kiss (Team Lead), Adriana Patino, Andre Krunic, Ivaylo Georgiev, Khari Thomas, Mariam Mahboob, Iris Liu, Christina Wong, Kate McQuarrie
        <br>
        <mark>Dry Lab:</mark> Andre Fu (Team Lead), Carlos Lehmer (Team Lead), Tianyu Lu, Jacob Kelly, Dimitrije Ratkov
        <br>
        <mark> Policy & Practices:</mark> Hannah So (Team Lead), Kiellan Rook (Team Lead), Jasmeen Parmar, Jenny Li, Sarina Wong, Zoey Chen
    </div>

</div>

<div class="wiki">
    <a href="#">link to wiki</a>
</div>