.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 99;
}

.bars {
    float: right;
    margin-right: 20px;
    // @include sm {
    //     margin-right: 0px;
    // }
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-family: Avenir;
    font-size: 30px;
    color: #17425A;
    z-index: 100;
}

a.category-link:hover {
    background-color: #66E0FA;
    color: #ffffff !important;
}

.active {
    height: 1.8em;
    margin-left: 1em;
    margin-top: -0.1em;
}

.toptav .icon {
    display: none;
    @include md {
        display: block;
    }
}

@include md {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: block;
        text-align: left;
        float: none !important;
    }
    .topnav.responsive a {
        text-align: left;
        background-color: #f6f6f6
    }
    .topnav.responsive a:hover {
        background-color: #ffffff;
    }
}