.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 99;
}

.bars {
    margin-left: 50em;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-family: Avenir;
    font-size: 30px;
    color: #17425A;
    z-index: 100;
}

a.category-link:hover {
    background-color: #66E0FA;
    color: #ffffff !important;
}

.active {
    height: 1.8em;
    // margin-right: 14em;
    margin-left: 1em;
    margin-top: -0.1em;
}