ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Avenir;
    font-size: 20px;
    color: #17425A;
}

li a:hover {
    background-color: #f6f6f6;
}

.active {
    margin-left: 15px;
    margin-right: 200px;
    margin-top: -15px;
}