.contents {
    margin: 180px 150px;
}

.right {
    display: inline-block;
    width: 60%;
}

.title {
    font-size: 80px;
    font-family: Verdana;
    font-weight: bold;
    color: #17425A;
}

.margin-30 {
    margin-bottom: 30px;
}

.description {
    font-size: 30px;
    font-family: Avenir;
    color: #17425A;
    display: inline-block;
}

.photo {
    width: 220px;
    float: right;
    position: relative;
    margin-right: 100px;
    margin-top: -300px;
}

.link {
    color: #17425A;
    font-weight: 500;
    font-family: Avenir;
    font-size: 40px;
    text-decoration: none;
}

a.link:hover {
    cursor: pointer;
}

.margin-100 {
    margin-bottom: 100px;
}

.arrow {
    height: 50px;
    margin-left: 30px;
    margin-bottom: -10px;
}