<div class="contents">
    <div *ngFor="let item of teamList">
        <div>


            <div class="right">
                <span class="title">{{item.title}}</span>
                <br>
                <div class="margin-30"></div>
                <span class="description">{{item.description}}</span>
                <br>
                <div class="margin-30"></div>
                <a class="link" href={{item.newLink}}>
                    See members
                    <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow">
                </a>



            </div>
        </div>
        <img class="photo" *ngIf="item" src={{item.url}} alt="team_img">

        <div class="margin-100">
        </div>

    </div>

</div>
<app-footer></app-footer>